@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('reset.css');
@import url('landing-page/header.css');
@import url('landing-page/top-jumbo.css');
@import url('landing-page/design-by.css');
@import url('landing-page/color-collection.css');
@import url('landing-page/blue-print.css');
@import url('landing-page/latest.css');
@import url('landing-page/footer.css');



.container{
	width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.container-fluid{
	margin: 0 5%;
	padding: 0 20px;
}

.box-shadow-down{
	-webkit-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
	box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}

.box-shadow-center{
	-webkit-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.3);
	-moz-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.3);
	box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.3);
}

input::placeholder{
	color: #d5e2ea;
}
