#blue-print{
	padding: 170px 0;
	color: #FFF;
	background: #4c44c1; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #4c44c1 0%, #6066F2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #4c44c1 0%, #6066F2 100%); /* Chrome10-25,Safari5.1-6 */
	background:  linear-gradient(135deg, #4c44c1 0%, #6066F2 100%);/* W3C, IE10+, FF16+, Opera12+, Safaei7+*/ 
	
}

#blue-print .container{

}

#blue-print .container:after{
	content: "";
	display: table;
	clear: both;
}


#blue-print .container .left-side{
	width: 60%;
	float: left;
}

#blue-print .container .left-side img{
	width: 60%;
}

#blue-print .container .right-side{
	width: 40%;
	float: left;
}

#blue-print .container .right-side h1{
	font-size: 4.5rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: capitalize;
	margin-bottom: 70px;
	line-height: 1.2;
}

#blue-print .container .right-side .info-box{
	padding: 0 0 60px;
}


#blue-print .container .right-side .info-box:after{
	content: "";
	display: table;
	clear: both;
}

#blue-print .container .right-side .info-box .col-1{
	width:  40%;
	float: left;
}

#blue-print .container .right-side .info-box .col-1 .icon-container{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 5px solid #FFF;
	position: relative;
}

#blue-print .container .right-side .info-box .col-1 .icon-container .dashed-circle{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px dashed #FFF;
	margin: 0 auto;
	position: absolute;
	top: 10px;
	left: 10px;
}

#blue-print .container .right-side .info-box .col-1 .icon-container .fab,
#blue-print .container .right-side .info-box .col-1 .icon-container .fas{
	position: absolute;
	top: 40px;
	left: 50px;
	font-size: 4.5rem
}

#blue-print .container .right-side .info-box .col-2{
	width:  60%;
	float: left;
}

#blue-print .container .right-side .info-box .col-2 h3{
	font-size: 2rem;
	margin-bottom: 20px;
	margin-top: 20px;
}

#blue-print .container .right-side .info-box .col-2 p{
	font-size: 1rem;
	margin-bottom: 15px;
	line-height: 1.5;
	letter-spacing: 1.2px;	
}

#blue-print .container .right-side .info-box .col-2 a{
	text-transform: uppercase;
	text-decoration: none;
	color: #FEA83B;
}

