#color-collection{
	padding: 0 0 170px;
}

#color-collection .container:after{
	content: "";
	display: table;
	clear: both;
}

#color-collection .container .left-side{
	width: 60%;
	display: inline-block;
	float: left;
	text-align: center;
	opacity: .5;
    position: relative;
    left: -100px;
}

#color-collection .container .left-side img{
	-webkit-transform: scaleX(-1); /* WebKit */
	-moz-transform: scaleX(-1); /* Mozilla */
	-o-transform: scaleX(-1); /* Opera */
	-ms-transform: scaleX(-1); /* Internet Explorer */
	transform: scaleX(-1); /* CSS3 */
	width: 100%;
}
#color-collection .container .right-side{
	width: 40%;
	display: inline-block;
	float: left;
}

#color-collection .container .right-side:after{
	content: "";
	display: table;
	clear: both;
}

#color-collection .container .right-side .col-1{
	float: left;
	width: 70%;
}

#color-collection .container .right-side .col-2{
	float: left;
	width: 30%;
}


#color-collection .container .right-side .swatch-area{
	background-color: #FFF;
	padding: 12px 20px;
	display: inline-block;
	border-radius: 45px;
	margin-bottom: 40px;
	margin-top: 150px;
}

#color-collection .container .right-side .swatch-area:after{
	content: "";
	display: table;
	clear: both;
}

#color-collection .container .right-side .swatch-area .circle{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

#color-collection .container .right-side .swatch-area .circle:nth-child(1){
	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .container .right-side .swatch-area .circle:nth-child(2){
	background: rgb(240,183,161); /* Old browsers */
	background: -webkit-linear-gradient(bottom left, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 44%, rgba(117,34,1,1) 52%, rgba(191,110,78,1) 88%);
	background: -o-linear-gradient(bottom left, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 44%, rgba(117,34,1,1) 52%, rgba(191,110,78,1) 88%);
	background: linear-gradient(to top right, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 44%, rgba(117,34,1,1) 52%, rgba(191,110,78,1) 88%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .container .right-side .swatch-area .circle:nth-child(3){
	background: rgb(203,96,179); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(203,96,179,1) 20%, rgba(203,96,179,1) 39%, rgba(173,18,131,1) 73%, rgba(222,71,172,1) 86%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(203,96,179,1) 20%,rgba(203,96,179,1) 39%,rgba(173,18,131,1) 73%,rgba(222,71,172,1) 86%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(203,96,179,1) 20%,rgba(203,96,179,1) 39%,rgba(173,18,131,1) 73%,rgba(222,71,172,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin-right: 0;
}

#color-collection .container .right-side .info-box{
	background-color: #FFF;
	padding: 40px 20px;
	display: inline-block;
	max-width: 290px;
	width: 100%;
	text-align: center;
}

#color-collection .container .right-side .info-box h2{
	font-size: 2.3rem;
	text-transform: uppercase;
}

#color-collection .container .right-side .info-box h2 span{
	display: block;
	text-align: center;
}	

#color-collection .container .right-side .info-box h2 span.orange{
	color: #FEA83B;
	font-weight: 100;
}

#color-collection .container .right-side .info-box h2 span.blue{
	color: #6066F2;
}

#color-collection .container .right-side .info-box h2 span.purple{
	color: #B286F8;
	font-weight: 100;
}

#color-collection .container .right-side .info-box p{
	color: #808080;
	font-size: .8rem;
	margin: 40px 0;
}

#color-collection .container .right-side .info-box a{
	color: #6066F2;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	display: block;
}

#color-collection .container .right-side .info-box .line{
	height: 2px;
	width: 50px;
	background-color: #B286F8;
	display: inline-block;
	margin-top: 25px;

}

#color-collection .container .right-side .color-slider{
	position: relative;
	width: 20px;
	height: 620px;
	border-radius: 40px;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 8%, rgba(109,21,108,1) 20%, rgba(40,214,167,1) 39%, rgba(40,214,167,1) 39%, rgba(40,214,167,1) 48%, rgba(32,124,202,1) 56%, rgba(118,252,40,1) 71%, rgba(118,252,40,1) 71%, rgba(58,55,102,1) 93%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 8%,rgba(109,21,108,1) 20%,rgba(40,214,167,1) 39%,rgba(40,214,167,1) 39%,rgba(40,214,167,1) 48%,rgba(32,124,202,1) 56%,rgba(118,252,40,1) 71%,rgba(118,252,40,1) 71%,rgba(58,55,102,1) 93%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(30,87,153,1) 8%,rgba(109,21,108,1) 20%,rgba(40,214,167,1) 39%,rgba(40,214,167,1) 39%,rgba(40,214,167,1) 48%,rgba(32,124,202,1) 56%,rgba(118,252,40,1) 71%,rgba(118,252,40,1) 71%,rgba(58,55,102,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .container .right-side .color-slider .picker{
	width: 22px;
	height: 22px;
	border: 10px solid #fff;
	border-radius: 50%;
	background-color: #FEA83B;
	/*to calculate the width and the height plus another pix in the border*/
	box-sizing: content-box; 
	position: absolute;
	top: 200px;
	left: -10px;
}





