header{
	padding: 20px 20px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 50px;
}

header a{
	color: #4945BF;
	text-decoration: none;
}
/* whenever use float thi need to be use in the parent element*/
header:after{
	content: "";
	display: table;
	clear: both;
}

header .logo, header .menu{
	display: inline-block;
	float: left;

}

header .logo{
	margin-right: 28px;
}

header .logo img{
	width: 100px
}

header .menu{
	position: relative;
	top:35px;
}

header .menu a{
	text-transform: uppercase;
}

header .header-buttons{
	display: inline-block;
	float: right;
	position: relative;
	top: 28px;
	text-transform: uppercase;
}

header .header-buttons .blue-btn{
	background-color: #6066f2;
	padding: 10px 40px;
	color: white;
	border-radius: 35px

}

header .header-buttons .blue-btn .fas{
	margin-left: 15px;
}

header .header-buttons .orange-btn{
	background-color: #F27979;
	padding: 10px 40px;
	color: white;
	border-radius: 50px

}